.title-explora{
    background-color: $color-background;
    h1{
        font-size: 45px;
        text-align: center;
        font-family: $generic-font;
        padding-bottom: 31%;
        padding-top: 2%;
    }
   
    }
.title-explora__img{
    display: flex;
    width: 40%;
    margin-left: 11%;
    margin-top: -30%;
    margin-bottom: -15px;
}






    
   



