.menu-footer{
    display: flex;
    margin-top: 30px;
    margin-bottom: 20px;
    img{
        width: 8%;
        height: 8%;
        margin-left:$margin-left; 
    }
    li{
        
        font-size: 13px;
    }
   
    
}
.menu-footer__ul{
    display: flex;
    font-size: 10px;
    font-family: $generic-font;
    margin-left: -2%;
    
    

}
span{
    font-size: 15px;
    margin-left: 50px;
    font-family: $generic-font;

}
